body {
    background: #c8a2c8;
    text-align: left-align;
}

.header-image {
    background-image: url("images/sunriseLakeLouise.jpeg");
    height: 400px;
    background-position:center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
}

.header-text {
    text-align: center;
    font-style: italic; 
    color: whitesmoke;
}

.footer {
    background-color: rebeccapurple;
    text-align: center;
    padding: 5px;
}